page-create-review {

    #myInput {
        width: calc(100% - 10px);
        border: 2px !important;
        border-radius: 5 !important;
        background: transparent;
    }
    

    .card {
        box-shadow: none !important;
        border: none;
        margin: 0px 0px 12px 0px !important;
        width: 100% !important;
        p {
            margin: 0 0 2px;
            font-size: 1.4rem;
            color: rgb(7, 6, 6);
        }
        b {
            color: rgb(80, 75, 62);
            font-size: 1.6rem;
        }
    }

}
