<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="bite">
    <ion-avatar class="avatar-profile">
      <img src="https://assets.phenompeople.com/CareerConnectResources/GENEA0084/en_us/desktop/assets/images/default_profile.png">
    </ion-avatar>
    <ion-title>HOME</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-searchbar mode="ios" placeholder="ค้าหาร้าน/รายการอาหาร"></ion-searchbar>

  <ion-slides pager>
    <ion-slide *ngFor="let item of homeData.ads.items">
      <img src="{{item.image}}" alt="imgErr">
    </ion-slide>
  </ion-slides>

  <div class="hotprices">
    <p padding-left>
      <b>{{homeData.hotprices.title}}</b>
    </p>
    <ion-scroll scrollX="true">
      <ion-row class="row-custom">
        <ion-col col-6 *ngFor="let item of homeData.hotprices.items1">
          <img src="{{item.image}}" alt="imgErr">
        </ion-col>
      </ion-row>
      <ion-row class="row-custom">
        <ion-col col-6 *ngFor="let item of homeData.hotprices.items2">
          <img src="{{item.image}}" alt="imgErr">
        </ion-col>
      </ion-row>
    </ion-scroll>
  </div>

  <div class="categories">
    <p padding-left>
      <b>{{homeData.categories.title}}</b>
    </p>
    <ion-scroll scrollX="true">
      <ion-row class="row-custom">
        <ion-col col-3 col-md-2 col-lg-2 *ngFor="let item of homeData.categories.items">
          <img src="{{item.image}}" alt="">
        </ion-col>
      </ion-row>
    </ion-scroll>
  </div>

  <div class="shops">
    <div no-padding>
      <ion-segment mode="md" [(ngModel)]="pages">
        <ion-segment-button *ngFor="let segment of homeData.shops; let i = index;" [ngClass]="{'active-page' : i == pages}" (click)="onSelectedPage(i)">
          {{ segment.title }}
        </ion-segment-button>
      </ion-segment>
    </div>
    <ion-scroll scrollX="true">
      <ion-row class="row-custom" *ngIf="homeData.shops && homeData.shops.length > 0">
        <ion-col col-4 *ngFor="let item of homeData.shops[pages].items">
          <img src="{{item.image}}" alt="imgErr">
          <span>{{item.name}}</span>
        </ion-col>
      </ion-row>
    </ion-scroll>
  </div>

</ion-content>
