<!--
  Generated template for the ShopPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="bite">
    <ion-title>{{shopData.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <search-input></search-input>
  <img src="{{shopData.coverimage}}" alt="imgErr">
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <ion-row>
          {{shopData.name}}
        </ion-row>
        <ion-row>
          {{shopData.detail}}
        </ion-row>
        <ion-row>
          <span>{{shopData.address.addressdetail}}</span>&nbsp;
          <ion-badge class="icon-ads" item-end color="bite">{{isO}}</ion-badge>
        </ion-row>

        <button ion-button icon-left clear large class="like">
            <ion-icon ios="ios-star-outline" md="md-star-outline"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-scroll scrollX="true">
    <ion-row class="row-custom">
      <ion-col col-3 *ngFor="let item of shopData.promoteimage; let i = index;" class="col-imgpromote">
        <img src="{{item}}" alt="" (click)="showPhoto(i)">
      </ion-col>
    </ion-row>
  </ion-scroll>

  <div no-padding>
    <ion-segment mode="md" [(ngModel)]="category">
      <ion-segment-button *ngFor="let segment of shopData.products; let i = index;" [ngClass]="{'active-page' : i == category}"
        (click)="onSelectedConditionCate(i)">
        {{ segment.title | translate }}
      </ion-segment-button>
    </ion-segment>
  </div>
  <h3 no-padding>Category</h3>

  <ion-scroll scrollX="true">
    <ion-row class="row-custom">
      <ion-col col-3 *ngFor="let cate of shopData.categories" class="col-imgpromote" (click)="selectCate(cate)">
        <img src="{{cate.image}}" alt="imgErr">
        <p class="cate-order">{{cate.name}}</p>
      </ion-col>

    </ion-row>
  </ion-scroll>

  <ion-list *ngIf="shopData.products && shopData.products.length">
    <ion-item *ngFor="let productitem of shopData.products[category].items">
      <ion-thumbnail item-start>
        <img src="{{productitem.image}}" alt="Err">
      </ion-thumbnail>
      <h2>{{productitem.name}}</h2>
      <p>{{productitem.price}} THB</p>
    </ion-item>
  </ion-list>
</ion-content>