<!--
  Generated template for the CategoryListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="bite">
    <ion-title>{{ 'CATEGORIES' | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-searchbar mode="ios" placeholder="{{ 'BITE_SEARCH' | translate }}" (window:keydown)="getItems($event)"></ion-searchbar>

  <div class="categories">
    <ion-segment mode="md" [(ngModel)]="index" id="scroll">
      <ion-segment-button *ngFor="let item of categoryData; let i = index;" (click)="selectedCategory(i)">
        <preload-image [ratio]="{w:1, h:1}" [src]="item.image" title="categories" [ngClass]="{'active-cates' : i == cate}"></preload-image>
      </ion-segment-button>
    </ion-segment>
  </div>
  <hr>
  <div class="shops">
    <div no-padding>
      <ion-segment mode="md" [(ngModel)]="pages">
        <ion-segment-button *ngFor="let segment of shopByCate; let i = index;" [ngClass]="{'active-page' : i == pages}" (click)="onSelectedPage(i)">
          {{ segment.title | translate }}
        </ion-segment-button>
      </ion-segment>
    </div>
  </div>
  <grid-shop-y *ngIf="shopByCate && shopByCate.length && shopByCate[pages]" [items]="shopByCate[pages].items"></grid-shop-y>

</ion-content>
